.blue{
    background-color:rgb(2, 2, 65);
    height: 100px;
    width: 100%;
}

.head{
    text-decoration-color:yellow;
    text-decoration-line: underline;
    text-underline-offset: 7px;
    color: white;
}

#twit{
    text-decoration-color:yellow;
    text-decoration-line: underline;
    text-underline-offset: 7px;
    color: white;
}

#footer{
    background: rgb(9, 9, 24);
    height: 300px;
    padding-left: 100px;
}

h2{
    color: white;
}

p{
    color: white;
    padding-top: 20px;
}

a{
    color: gainsboro;
    text-decoration: none;
    padding-top: 20px;
     display:block;
}

#list1{
    color: white;
    padding-top: 20px;
}

.list2{
    color: white;
}

.image-container{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 5px;
}

#num{
    padding-left: 60px;
    margin-top: 0%;
    text-underline-offset: 7px;
    position: relative;
    bottom: 30px;
}

.img{
    position: relative;
    top: 15px;
}

#email{
    padding-left: 60px;
    margin-top: 0%;
    text-underline-offset: 7px;
    position: relative;
    bottom: 40px;
}

.para{
    padding-left: 60px;
    margin-top: 0%;
    text-underline-offset: 7px;
    position: relative;
    bottom: 40px;
}

